<ul class="flat">
  <li><a class="icon mail"
         href="mailto:simon@brainshave.com">simon@brainshave.com</a></li>
  <li><a class="icon twitter"
         href="https://twitter.com/brainshave">Twitter</a></li>
  <li><a class="icon github"
         href="https://github.com/brainshave">GitHub</a></li>
  <li><a class="icon npm"
         href="https://npmjs.org/~brainshave">NPM</a></li>
  <li><a class="icon linkedin"
         href="https://linkedin.com/in/szymonwitamborski">LinkedIn</a></li>
  <li><a class="icon photos"
         href="http://500px.com/brainshave">500px</a></li>
</ul>
