{
  "items": [{
    "icon": "brainshave",
    "title": "Website",
    "href": "http://brainshave.com",
    "hide": true
  }, {
    "icon": "mail",
    "title": "simon@brainshave.com",
    "href": "mailto:simon@brainshave.com"
  }, {
    "icon": "twitter",
    "title": "Twitter",
    "href": "https://twitter.com/brainshave"
  }, {
    "icon": "github",
    "title": "Github",
    "href": "https://github.com/brainshave"
  }, {
    "icon": "npm",
    "title": "NPM",
    "href": "https://npmjs.org/~brainshave"
  }, {
    "icon": "photos",
    "title": "Instagram",
    "href": "https://instagram.com/brainshave"
  }, {
    "icon": "soundcloud",
    "title": "SoundCloud",
    "href": "https://soundcloud.com/shavingbrains"
  }, {
    "icon": "linkedin",
    "title": "LinkedIn",
    "href": "https://linkedin.com/in/szymonwitamborski",
    "hide": true
  }]
}


<ul class="flat pre">
  {{~it.items :item}}
  {{? it.verbose || !item.hide }}
  <li>
    <a class="icon {{= item.icon }}" href="{{= item.href }}">
      {{? it.verbose }}
      {{= item.href.replace(/^https?:\/\//, "").replace(/^mailto:/, "").replace(/([^\/]+)\/(.*)/, "$1<span class=\"parenthesis\">/$2</span>") }}
      {{??}}
      {{= item.title}}
      {{?}}
    </a>
  </li>
  {{?}}
  {{~}}
</ul>
