<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{! it.title }}</title>

  <link rel="stylesheet" type="text/css" href="/all.css">

  <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/icons/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="brainshave blog" href="/blog/index.xml">

  <!--[if lte IE 7]>
      <script>document.documentElement.className += " ie7";</script>
      <![endif]-->

  <!--[if lte IE 8]>
      <script>document.documentElement.className += " ie78 ie8";</script>
      <![endif]-->

  <script>
    if (!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Shape", "1.1")) {
    document.documentElement.className += " no_svg";
    }
    (function () {
    var elements = ["article", "section", "footer"];
    for (var i = 0; i < elements.length; ++i) document.createElement(elements[i]);
    })();
  </script>
</head>
