{
  "list": [{
    "name": "Ancient Oak",
    "href": "http://szywon.pl/ancient-oak",
    "desc": "Immutable data trees in JavaScript"
  }, {
    "name": "Health Analytics",
    "href": "http://analytics.howareyou.com",
    "desc": "Part of <a href=\"http://howareyou.com\">How are you?</a>, designed by <a href=\"http://dribbble.com/andyisonline\">Andrew Lucas</a>"
  }, {
    "name": "grunt-stencil",
    "href": "https://github.com/cambridge-healthcare/grunt-stencil",
    "desc": "HTML generation with templates and partials for grunt, <a href=\"https://github.com/szywon/broccoli-stencil\">version for Broccoli</a>"
  }, {
    "name": "0desk",
    "href": "https://github.com/szywon/0desk",
    "desc": "Zero Desktop Environment Survivor Kit for Linux"
  }]
}

{{= it.include("dtddlist", it) }}
