{
  "list": [{
    "name": "Zetzer",
    "href": "https://github.com/brainshave/zetzer",
    "desc": "Static HTML generator with doT and Markdown, as Broccoli & Grunt plugins"
  }, {
    "name": "Ancient Oak",
    "href": "https://github.com/brainshave/ancient-oak",
    "desc": "Immutable data trees in JavaScript"
  }, {
    "name": "SharpVG",
    "href": "https://github.com/brainshave/sharpvg",
    "desc": "Converts pixelart to SVGs, super-sharp on any display"
  }]
}

{{= it.include("dtddlist", it) }}
