<div id="top">
  <div class="group x2 left">
    <a class="icon head"    href="/">S/W <span class="parenthesis">Home</span></a>
    <a class="icon archive" href="/blog/">Archive</a>
    <a class="icon rss"     href="/blog/index.xml">RSS</a>
  </div>

  <div class="group x2 right">
    <a class="icon github"  href="https://github.com/brainshave">GitHub</a>
    <a class="icon twitter" href="https://twitter.com/brainshave">Twitter</a>
    <a class="icon photos"  href="http://500px.com/brainshave">500px</a>
  </div>
</div>
