<nav id="top">
  <ul class="x2">
    <li>
      <a class="icon bug" href="/">Home</a>
    </li><li>
      <a class="icon archive" href="/blog/">Archive</a></li><li><a class="icon rss"     href="/blog/index.xml">RSS</a>
    </li><li>
      <a class="icon github"  href="https://github.com/brainshave">GitHub</a></li><li>
      <a class="icon twitter" href="https://twitter.com/brainshave">Twitter</a></li><li>
      <a class="icon photos"  href="http://500px.com/brainshave">Photos</a></li>
  </ul>
</nav>
