*
!*.in.html
!favicon.*
!app
!app/*.js
!app_templates
!app_templates/*.html
!blog
!blog/*.md
!blog/*/
!blog/*/*.png
!demo
!demo/*
!demo/*/*
!icons
!icons/*.gif
!lib
!lib/*
!styles
!styles/*.less
!templates
!templates/*.html
!resources
!resources/*
!CNAME
!README.md
!package.json
!Recipes.js
.DS_Store
*~