extends templates/basic

block title
  | 404 Not Found

append head
  classes = "reading red"

block content
  :markdown
      # The page you are looking for doesn't exist, but...

      ...you might like to visit the [Home Page](/).

  include templates/footer
