extends templates/basic

block title
  | Copywrong

append head
  classes = 'reading dark'

block content
  article
    :markdown
      # Copyright Info

      This product uses the Flickr API but is not endorsed or certified by Flickr.
