extends templates/basic

block title
  | Copywrong

append head
  classes = 'reading dark'

block content
  article
    :markdown
      # Copyright Info

      This site is copyright by Szymon Witamborski 2012 and beyond. It's generated from sources available here: <http://github.com/szywon/szywon.github.com>.

      Beautiful artwork used by this site:

      - [Source Sans Pro](https://github.com/adobe/Source-Sans-Pro) font from Adobe via [Google Web Fonts](http://google.com/webfonts)
      - [Entypo](http://entypo.com) and [Brandico](https://github.com/fontello/brandico.font) fonts via [Fontello](http://fontello.com)

      This site uses Flickr API so I'm required to say that:

      > This product uses the Flickr API but is not endorsed or certified by Flickr.

      :)
