extends templates/basic

block title
  | S/W

append head
  classes = 'dark wide'

block content
  div#sections
    section
      h1 Hi!

      :markdown
        I'm **Szymon Witamborski**. My dream job is creating fake operating systems for movies but for the time being I do some web stuff.

        You can reach me under <szywon@g.pl> or here otherwise:

      ul
        li: a.icon.github(href='https://github.com/szywon') github
        li: a.icon.twitter-bird(href='https://twitter.com/szywon') twitter

      include templates/footer

    section
      h1 Stuff

      dl
        dt: a(href='https://github.com/szywon/cherry') cherry
        dd general-purpose build system

        dt: a(href='https://github.com/szywon/pharemine') pharemine
        dd phantom.js test runner for jasmine

        dt: a(href='https://github.com/szywon/superbigle') superbigle
        dd examples from OpenGL SuperBible translated to WebGL

    section
      h1 Blog

      dl
        each file in index
          dt: a(href=file.href)= file.title
          dd= new Date(file.date).toDateString()

        dt: a(href='404.html') Test 404 Page
        dd Now and then

    section
      h1 Buzz

  div#photos
    :markdown
      # Recent photos from [Flickr](http://flickr.com/photos/szywon):

    div#thumbs
    div#viewer

block extra-scripts
  script(type="text/javascript", src="/app/photos.js")
