extends templates/basic

block title
  | S/W

append head
  classes = 'dark wide'

mixin links_list(list, name)
  dl
    each file in list.slice(0,5)
      dt: a(href=file.href)= file.title
      dd= new Date(file.date).toDateString()

  .meta
    a.icon.th-list(href='#{name}/index.html') full list
    a.icon.rss(href='#{name}/index.xml') feed

block content
  div#sections
    section
      h1 Hi!

      :markdown
        I'm **Szymon Witamborski**. My dream job is creating fake operating systems for movies but for the time being I do some web stuff.

        You can reach me under <szywon@g.pl> or here otherwise:

      ul
        li: a.icon.github(href='https://github.com/szywon') github
        li: a.icon.twitter-bird(href='https://twitter.com/szywon') twitter
        li: a.icon.dot-2(href='http://flickr.com/photos/szywon') flickr

      include templates/footer

    section
      h1 Projects

      dl
        dt: a(href='https://github.com/szywon/cherry') cherry
        dd general-purpose build system

        dt: a(href='https://github.com/szywon/pharemine') pharemine
        dd phantom.js test runner for jasmine

        dt: a(href='https://github.com/szywon/superbigle') superbigle
        dd examples from OpenGL SuperBible translated to WebGL

      .meta
        a.icon.github(href='https://github.com/szywon') all projects

    section
      h1 Articles

      mixin links_list(articles, 'articles')

    section
      h1 Updates

      mixin links_list(updates, 'updates')

  div#photos
    div#header
      h1 Photos

      .meta
        a.icon.dot-2(href='http://flickr.com/photos/szywon') all photos

    div#viewer

block extra-scripts
  script(type="text/javascript", src="/app/photos.js")
