extends templates/basic

block title
  | S/W

append head
  classes = 'dark wide'

block content
  div#sections

    section
      h1 Hi!

      :markdown
        I'm **Szymon Witamborski**. My dream job is to create fake operating systems for movies but for the time being I do some web stuff.

        You can reach me under <szywon@g.pl> or here otherwise:

      ul
        li: a.icon.twitter-bird(href='https://twitter.com/szywon') twitter
        li: a.icon.github(href='https://github.com/szywon') github
        li: a.icon.dot-2(href='http://flickr.com/photos/szywon') flickr

    section
      h1 Projects

      dl#github
        dt: a(href='https://github.com/szywon/cherry') cherry
        dd general-purpose build system

        dt: a(href='https://github.com/szywon/pharemine') pharemine
        dd phantom.js test runner for jasmine

        dt: a(href='https://github.com/szywon/superbigle') superbigle
        dd examples from OpenGL SuperBible translated to WebGL

      .meta
        a.icon.github(href='https://github.com/szywon') all projects on github

    section
      h1 Blog

      dl
        each file in blog.slice(0,5)
          dt: a(href=file.href)= file.title
          dd= new Date(file.date).toDateString()

      .meta
        a.icon.th-list(href='/blog/index.html') full list
        a.icon.rss-1(href='/blog/index.xml') feed

    section
      h1 Photography

      p I often got a camera with me wherever I go. Scroll down to see some of my more recent uploads to Flickr.

      .meta
        a.icon.dot-2(href='http://flickr.com/photos/szywon') all photos on flickr


  div#photos
    div#viewer

    .meta
      a.icon.dot-2(href='http://flickr.com/photos/szywon') more photos on flickr

    include templates/footer

block extra-scripts
  script(type="text/javascript", src="/app/photos.js")
  script(type="text/javascript", src="/app/github.js")
