@import 'nib'

mix(color_a, color_b, amount_a)
  amount_b = 1 - amount_a
  rgba(amount_a * red(color_a) + amount_b * red(color_b),
       amount_a * green(color_a) + amount_b * green(color_b),
       amount_a * blue(color_a) + amount_b * blue(color_b),
       amount_a * alpha(color_a) + amount_b * alpha(color_b))

// geometry

html
  overflow-y scroll

body
  transition color 0.5s, background-color 2s

body.no-anim, body.no-anim > *
  transition none

a:focus
  outline 0 // disable ugly firefox dotted outlines

// transitions

std_transforms = border-radius 0.3s, width 0.3s, height 0.3s, color 0.5s, background-color 0.5s, border-color 1s, box-shadow 1.5s, text-shadow 1.5s

a,
a#logo > div
  transition std_transforms

a#change-theme,
a#change-theme > div
  transition transform 0.5s, std_transforms
  // workaround because nib doesn't change transform to -prefix-transform
  -webkit-transition -webkit-transform 0.5s, std_transforms
  -moz-transition -moz-transform 0.5s, std_transforms
  -ms-transition -ms-transform 0.5s, std_transforms
  -o-transition -o-transform 0.5s, std_transforms

// theme switcher

a#change-theme
  display block
  overflow hidden
  float right
  width 30px
  height 30px
  > div
    width 0
    height 0

// themes

theme(front, back, anchor, hover, shadow)
  transparent_back = rgba(red(back), green(back), blue(back), 0)
  color front
  background back

  a, a:visited
    color anchor
  a:hover, a:active
    color hover
    text-shadow 0 0 1em shadow

  .small
    color mix(front, back, 0.5)
    a
      color mix(anchor, back, 0.6)
    a:hover, a:active
      color mix(hover, back, 0.7)
      text-shadow none

  a#logo > div
    background front

  a#logo:hover > div
    if dark(back)
      box-shadow 0 0 30px hover
    background hover

  a#change-theme
    border 1px solid front
    if dark(back)
      transform rotate(180deg)

  a#change-theme > div
    border-top 15px solid front
    border-left 15px solid front
    border-right 15px solid transparent_back
    border-bottom 15px solid transparent_back

  a#change-theme:hover
    box-shadow 0 0 2em shadow
    border-radius 50%
    border-color hover
    > div
      border-radius 15px
      border-top-color hover
      border-left-color hover

body.dark
  theme(#fffff5, #333338, #9ee, #0ff, #fff)

body.light
  theme(#000, #fff, #088, #0cc, #0ff)
