doctype

classes = 'dark'

html
  head
    block head
      meta(charset='utf-8')
      title: block title

      link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Source+Code+Pro:200,300,400,600,700,900&subset=latin,latin-ext,cyrillic')
      link(rel='stylesheet', type='text/css', href='/styles/all.css')

  body(class = classes)
    div#top

      a#logo(href="/") S/W
        div.s.block.up.left
        div.s.block.down.right
        div.s.tail.up.right
        div.s.tail.down.left

        div.z.block.down.left
        div.z.block.up.right
        div.z.tail.down.right
        div.z.tail.up.left

        div.w.col.left
        div.w.mid.left
        div.w.mid.right
        div.w.col.right

      .meta
        a.icon.th-list(href='/blog/index.html')
        a.icon.rss-1(href='/blog/index.xml')
        a.icon.dot-2(href='http://flickr.com/photos/szywon')
        a.icon.twitter-bird(href='https://twitter.com/szywon')
        a.icon.github(href='https://github.com/szywon')

    div#content
      //BEFORE CONTENT
      block content
      //AFTER CONTENT

    block scripts
      script(type='text/javascript', src='/deps/require.js')
      script(type='text/javascript', src='/app/app.js')
      span#extra-scripts
        //BEFORE SCRIPTS
        block extra-scripts
        //AFTER SCRIPTS
