<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{! it.document.title }}</title>

  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic|Source+Code+Pro:400,400italic&subset=latin-ext,latin">

  <link href="http://fonts.googleapis.com/css?family=Michroma&text=0123456789" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="all.css">

  <!--[if lte IE 7]>
      <script>document.documentElement.className += " ie7";</script>
      <![endif]-->

  <!--[if lte IE 8]>
      <script>document.documentElement.className += " ie78";</script>
      <![endif]-->

  <script>
    if (!document.implementation.hasFeature("http://www.w3.org/TR/SVG11/feature#Shape", "1.1")) {
    document.documentElement.className += " no_svg";
    }
    (function () {
    var elements = ["article", "section", "footer"];
    for (var i = 0; i < elements.length; ++i) document.createElement(elements[i]);
    })();
  </script>
</head>
<body class="{{= it.document.classes }}">
  <div id="top">

    <div class="group x2 left">
      <a class="icon head"    href="/">S/W <span class="parenthesis">Home</span></a>
      <a class="icon archive" href="/blog/">Archive</a>
      <a class="icon rss"     href="/blog/index.xml">RSS</a>
    </div>

    <div class="group x2 right">
      <a class="icon photos"  href="http://500px.com/szywon">500px</a>
      <a class="icon twitter" href="https://twitter.com/szywon">Twitter</a>
      <a class="icon github"  href="https://github.com/szywon">GitHub</a>
    </div>

  </div>

  <div id="content">
    {{= it.document }}
  </div>

  <!--[if lte IE 8]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/es5-shim/2.1.0/es5-shim.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sizzle/1.10.9/sizzle.js"></script>
  <![endif]-->

  <script type="text/javascript" src=""></script>

</body>
</html>
