<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>{{! it.title }}</title>

  <link rel="stylesheet" type="text/css"
        href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700,700italic|Source+Code+Pro:400,400italic&subset=latin-ext,latin">

  {{~ it.json('/styles_list') :sheet}}

  <link rel="stylesheet" type="text/css" href="/{{= sheet }}">

  {{~}}

  {{# def.head || '' }}

</head>
<body class="{{= it.classes }}">
  <div id="top">

    <div class="group x2 left">
      <a class="icon head"    href="/index.html">S/W <span class="parenthesis">Home</span></a>
      <a class="icon archive" href="/blog/index.html">Archive</a>
      <a class="icon rss"     href="/blog/index.xml">RSS</a>
    </div>

    <div class="group x2 right">
      <a class="icon photos"  href="http://500px.com/szywon">500px</a>
      <a class="icon twitter" href="https://twitter.com/szywon">Twitter</a>
      <a class="icon github"  href="https://github.com/szywon">GitHub</a>
    </div>

  </div>

  <div id="content">

    <!--BEFORE CONTENT-->

    {{# def.content || '' }}

    <!--AFTER CONTENT-->

  </div>

  <span id="extra-scripts"></span>

  {{~ it.json('/sources_list') :script}}

  <script type="text/javascript" src="/{{= script }}"></script>

  {{~}}

</body>
</html>
