extends basic

block title
  |#{title} -- S/W

append head
  //- This a rather ugly hack, it's appended to head to execute before
      variable classes is read in body(class = classes) in basic.jade
  classes = 'reading light'

block content
  article !{article}

    include footer
