mixin logo
  a(id="logo", href="/") S/W
    div.s.block.up.left
    div.s.block.down.right
    div.s.tail.up.right
    div.s.tail.down.left

    div.z.block.down.left
    div.z.block.up.right
    div.z.tail.down.right
    div.z.tail.up.left

    div.w.col.left
    div.w.mid.left
    div.w.mid.right
    div.w.col.right

mixin elements_before_content
  mixin logo

mixin elements_after_content
  script(type='text/javascript', src='/scripts/history.js')
