extends basic

block title
  |#{title} — S/W

append head
  classes = 'reading dark'

block content
  article
    h1= title
    dl
      each file in list
        dt: a(href='/' + file.href)= file.title
        dd= file.date.toDateString()

    include footer
