.archive {
  &, & li {
    list-style: none;
    padding: 0;
  }

  li {
    line-height: 1.1em;
    margin-bottom: 0.8em;
    padding-left: 3.1em;
    display: block;
    position: relative;
  }

  .date {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1em;
    text-align: right;
    width: 4em;

    .year {
      display: block;
    }
  }

  &.right {
    li {
      padding-left: 0;
      padding-right: 2.7em;
    }

    .date {
      left: auto;
      right: 0;
    }
  }
}