@import "defs";

.archive {
  &, & li {
    &, .ie7 & { list-style: none; }
    padding: 0;
    margin: 0;
  }

  li {
    line-height: 1.25em;
    margin-bottom: @margin;
    padding-left: 2.7em;
    display: block;
    position: relative;
    &:before { display: none; }
  }

  .date {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1em;

    font-size: 0.75em;

    .year {
      display: block;
    }
  }

  &.right {
    li {
      padding-left: 0;
      padding-right: 2.2em;
    }

    .date {
      left: auto;
      right: 0;
      text-align: right;
    }
  }
}