@import 'nib'

wide_width = 1500px
reading_width = 600px

h1, h2
  font-weight inherit

h1
  font-size 1.5em

h2
  font-size 1.2em


h3, h4
  font-weight 400
  font-size 1em

h2, h3, h4
  margin-top 1.7em

b, strong
  font-weight 700

img
  border none

article img
  max-width 100%

a
  text-decoration none
  transition color 0.3s, text-shadow 1s

a#logo > div
  transition width 0.3s, height 0.3s, border-radius 0.3s, background-color 1s

div#top a
  transition color 0.6s

a:focus
  outline 0 // disable ugly firefox dotted outlines

pre, code
  font-family 'Source Code Pro', monospace

.light
  font-weight 400
  h3, h4
    font-weight 600

blockquote
  font-style italic

blockquote
  i, em
    font-style normal

div#content
  clear both
  overflow auto

  > article
    max-width reading_width
    margin 0 auto
    line-height 1.6em

  sup
    font-size 0.83em
    vertical-align top
    position relative
    top -0.25em

  dd, .meta
    margin 0 0 16px 0
    font-size 0.8em

  div.meta > a
    margin-right 1em

  div#sections
    margin 0 auto
    max-width wide_width
    > section
      width 100%
      > ul, > ul > li
        list-style none
        margin     0
        padding    0
        > a
          display inline-block
        > a:before
          display inline-block
          width      2em
          text-align center

    @media (min-width: 700px)
      > section
        float left
        width 50%
        > *
          margin-right 16px
      > section:nth-child(2n + 1)
        clear left

    @media (min-width: 960px)
      > section
        width 25%
      > section:nth-child(2n + 1)
        clear none
