@import 'nib'

body
  max-width  1500px
  margin     8px auto
  padding    0 16px
  font-family 'Open Sans', 'Segoe UI', Ubuntu, Arial, sans-serif
  font-size 18px
  font-weight 300

footer, .small
  font-size 0.6em
  font-weight 400

h1, h2
  font-weight 300

h1
  font-size 1.5em

h2
  font-size 1.2em


h3, h4
  font-weight 400
  font-size 1em

b, strong
  font-weight 700

a
  text-decoration none

pre, code
  font-family 'Anonymous Pro', monospace
  font-weight 400

body > section
  display block
  float left

.clear
  clear both

// content

div#content
  clear both

  > div.row > section
    > ul, > ul > li
      list-style none
      margin 0
      padding 0
    > dl > dd
      margin 0 0 16px 0
      font-size 0.8em

  @media (min-width: 700px)
    > div.row > section
      padding-right 16px
      display table-cell
      width 50%

  @media (min-width: 960px)
    > div.row
      display table-cell
      width 50%

article
  margin 0 8px
