@import "defs";

.cv {
  @threshold: 600px;

  p, h1, h2, ul, ol, figure, figcaption {
    margin-top: 0;
    margin-bottom: 0;
  }

  h1 {
    margin-top: 1em;
    margin-bottom: 1.2em;
    @media print {
      margin-top: 0;
    }
  }

  h2 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
  }

  .summary {
    padding-right: 2em;
    @media print { font-size: 1.2em; line-height: 1.6em; }
  }

  .description {
    padding-right: 1em;
  }

  figure.contact {
    figcaption { display: none; }
  }

  figcaption {
    text-align: left;
  }

  .timespan, figcaption {
    margin-bottom: 0.3em;
  }

  figure.meta {
    .icon { text-transform: none; }
  }

  .projects {
    margin-top: 0.5em;

    &.smaller {
      font-size: 0.8em;
      line-height: 1.7em;
    }
  }

  @media (max-width: @threshold) {
    figure.meta {
      margin-top: 1em;
      margin-bottom: 1em;
    }
  }

  @media (min-width: @threshold), print {
    .flex {
      display: flex;
      display: -webkit-flex;
    }

    .left {
      flex-grow: 1;
      -webkit-flex-grow: 1;
      padding-bottom: 2em;
    }

    h1 {
      text-align: center;
    }

    figure.meta {
      min-width: 20%;
      max-width: 20%;

      &.double {
        min-width: 40%;
        max-width: 40%;
      }
    }
  }
}