@import "defs";

#cv {

  .center {
    margin: 0 auto;
  }

  .right {
    float: right;
  }

  max-width: @cv_width;
  min-width: 600px;
  padding: 0 @margin;
  .center;

  td:first-child { text-align: right; }

  td:first-child { white-space: nowrap; }
  td.left { text-align: left; }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    clear: both;
    margin-top: 1em;
  }

  .meta {

    @media screen {
      font-size: 0;

      .icon {
        min-height: 30px;
        margin-right: 10px;
        display: inline-block;
      }
    }

    @media print {
      .icon { padding-left: 0; }
      font-size: 1em;
    }
  }

  footer {
    margin-top: 3em;
    padding-left: 0;
    padding-right: 0;
  }

  @media print {
    font-size: 0.75em;
    max-width: 100%;
    margin:  0;
    padding: 0;

    h1 { margin-top: 0; }

    footer { display: none; }
  }
}
