.transition (@a1, @a2) {
  transition:         @a1, @a2;
  -webkit-transition: @a1, @a2;
}

.transition1 (@a1) {
  transition:         @a1;
  -webkit-transition: @a1;
}

.transition4 (@a1, @a2, @a3, @a4) {
  transition:         @a1, @a2, @a3, @a4;
  -webkit-transition: @a1, @a2, @a3, @a4;
}

@wide_width:    1500px;
@cv_width:      860px;
@reading_width: 600px;
