.transition (@text) {
  transition:         ~"@{text}";
  -webkit-transition: ~"@{text}";
}

.transform (@trans) {
  transform:         @trans;
  -ms-transform:     @trans;
  -moz-transform:    @trans;
  -webkit-transform: @trans;
}

@standard_fonts: 'Source Sans Pro', 'Segoe UI', 'Roboto', Ubuntu, Arial, sans-serif;
@number_fonts: 'Michroma', @standard_fonts;

@wide_width:    1200px;
@cv_width:      860px;
@reading_width: 600px;
@margin: 16px;