@import "defs";

h1, h2, h3, h4 {
  font-weight: 400;
  font-family: @head_fonts;
}

h2, h3, h4 {
  margin-top: 1.7em;
  margin-bottom: 0;
}

h1 { font-size: 1.8em; margin: 1em 0 0.8em 0;}
h2 { font-size: 1.2em; }
h3, h4 { font-size: 1em; }

article, section, footer {
  display: block;
}

p, ul, ol, pre, dl {
  margin: 1em 0;
}

article {
  clear: both;
  line-height: 1.85em;
}

blockquote {
  font-style: italic;
  position: relative;
  margin: 0;
  padding: 0 0 0 24px;

  i, em {
    font-style: normal;
  }

  &:before {
    display: block;
    position: absolute;
    font-style: normal;
    font-size: 3em;
    line-height: 1em;
  }

  &:before {
    content: "“";
    top: 0;
    left: 0;
  }
}

pre {
  line-height: 1.25em;
  margin-left: -@margin;
  margin-right: -@margin;
  padding-left: @margin;
  padding-right: @margin;

  overflow-x: visible;
  @media (max-width: 700px) {
    overflow-x: scroll;
  }
}

img {
  border: none;
  article & {
    max-width: 100%;
  }
}

a {
  outline:         none;
  text-decoration: none;
  .transition("color 0.25s, text-shadow 1s");
}

a.icon {
  font-family: @code_fonts;
}

.meta {
  text-transform: uppercase;
}

dd, .meta {
  font-size: 0.8em;
}

dd {
  margin: 0 0 @margin 0;
  line-height: 1.5em;
}

sup {
  vertical-align: top;
  position:       relative;
  font-size:      0.83em;
  top:            -0.25em;
}

article {
  ul, ol {
    padding: 0;
    margin-left: 0;

    li {
      list-style: none;
      position: relative;
      margin-left: 24px;

      &:before {
        position: absolute;
        top: 0;
        right: 100%;
        white-space: pre;
        color: #999;
        display: block;
        text-align: right;
      }
    }
  }

  ol {
    counter-reset: ol_counter;

    li {
      counter-increment: ol_counter;

      .ie7 & { list-style: decimal; }

      &:before {
        content: counter(ol_counter) + ") ";
      }
    }
  }

  ul li {
    .ie7 & { list-style: decimal; }

    &:before { content: "❖ "; }
  }
}

.comments {
  margin-top: 2em;
  margin-bottom: 2em;
}

.tldr {
  display:        inline-block;
  text-transform: uppercase;
  font-weight:    bold;
  font-size:      0.45em;
  line-height:    0.8em;
  width:          1.2em;
}

.emot {
  font-family: @code_fonts;
  display: inline-block;
  .transform(rotate(90deg));
}

.key {
  font-family: @code_fonts;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 0.9em;
  line-height: 1em;
  padding: 0.2em 0.3em;
  border-radius: 0.15em;
}

.only-in-feed {
  display: none;
}
