@import "defs";

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: @head_fonts;
}

h2, h3, h4 {
  margin-top: 32px;
  margin-bottom: 0;
}

h1 {
  font-size: 32px;
  line-height: 38px;
  margin: 32px 0 26px 0;
}

h2 { font-size: 22px; }
h3, h4 { font-size: 18px; }

article, section, footer {
  display: block;
}

p, ul, ol, pre, dl, figure {
  margin: 18px 0;
}

p, ul, ol, dl {
  code { white-space: nowrap; }
}

article {
  clear: both;
  line-height: 30px;
}

blockquote {
  position: relative;
  margin: 0;
  padding: 0 0 0 24px;

  ul, ol, p, pre {
    margin: 10px 0;
  }

  footer {
    margin: 0;
    padding: 0;
  }

  &:before {
    display: block;
    position: absolute;
    font-style: normal;
    font-size: 54px;
    line-height: 54px;
  }

  &:before {
    content: "“";
    top: 0;
    left: 0;
  }
}

pre {
  line-height: 23px;
  margin-left: -@margin;
  margin-right: -@margin;

  position: relative;

  code {
    display: block;
    overflow-x: auto;
    padding-left: @margin;
    padding-right: @margin;
  }

  &:before, &:after {
    pointer-events: none;
    content: "";
    display: block;
    width: @margin;
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:before { left: 0; }
  &:after { right: 0; }
}

img {
  border: none;
  article & {
    max-width: 100%;
  }
}

a {
  outline:         none;
  text-decoration: none;
  .transition("color 0.25s, text-shadow 1s");
}

a.icon, label.meta, figcaption {
  font-family: @code_fonts;
}

.meta {
  text-transform: uppercase;
}

dd, .meta, figcaption {
  font-size: 14px;
}

dd {
  margin: 0 0 @margin 0;
  line-height: 21px;
}

sup {
  vertical-align: top;
  position:       relative;
  font-size:      15px;
  top:            4px;
}

figure {
  text-align: center;
}

article {
  ul, ol {
    padding: 0;
    margin-left: 0;

    li {
      list-style: none;
      position: relative;
      margin-left: 24px;

      &:before {
        position: absolute;
        top: 0;
        right: 100%;
        white-space: pre;
        color: #999;
        display: block;
        text-align: right;
      }
    }
  }

  ol {
    counter-reset: ol_counter;

    li {
      counter-increment: ol_counter;

      .ie7 & { list-style: decimal; }

      &:before {
        content: counter(ol_counter) + ") ";
      }
    }
  }

  ul li {
    .ie7 & { list-style: decimal; }

    &:before {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "❖ ";
    }
  }

  .flat, .flat li {
    list-style: none;
    margin:     0;
    padding:    0;

    &:before {
      display: none;
    }

    a.icon {
      padding-left: 22px;
    }
  }

}

.comments {
  margin-top: 32px;
  margin-bottom: 32px;
}

.tldr {
  display:        inline-block;
  text-transform: uppercase;
  font-size:      12px;
  line-height:    10px;
  width:          15px;
}

.emot {
  font-family: @code_fonts;
  display: inline-block;
  .transform(rotate(90deg));
}

.key {
  font-family: @code_fonts;
  display: inline-block;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 16px;
  padding: 3px 5px;
  border-radius: 3px;
}

.only-in-feed {
  display: none;
}
