.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.icon_size (@n) {
  @size: (@n * 16px);

  .x@{n} .icon, .icon.x@{n} {
    background-size: @size @size;
    padding-left: (@size + 4px);
    min-height: @size;
  }
}

.icon_size(2);