.icon.head {
  .no_svg & { background-image: url(/icons/head.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M4%2C1h8v1h1v1h1v1h-1v-1h-1v-1h-8v1h-1v1h-1v-1h1v-1h1M5%2C3h6v1h1v6h-1v1h-1v1h-1v2h-2v-2h-1v-1h-1v-1h-1v-6h1M6%2C4h-1v6h1v1h4v-1h1v-6h-4M2%2C5h1v5h-1v-1h-1v-3h1M6%2C5h4v4h-1v-3h-2v3h-1v-3M13%2C5h1v1h1v3h-1v1h-1v-4z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.bug {
  .no_svg & { background-image: url(/icons/bug.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M6%2C1h1v1h2v-1h1v1h-1v2h2v1h1v-1h3v1h-3v2h2v1h1v2h-1v-2h-2v1h-1v1h1v4h-1v-4h-1v1h-4v-1h-1v4h-1v-4h1v-1h-1v-1h-2v-1h-1v-2h1v2h2v-2h-1v-3h1v3h1v-1h2v-2h-1M6%2C5h-1v4h1v1h4v-1h1v-4h-4z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.archive {
  .no_svg & { background-image: url(/icons/archive.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M3%2C1h10v2h1v2h1v9h-1v-8h-12v8h-1v-9h1v-2h1v-1M4%2C2v1h8v-1h-7M3%2C4v1h10v-1h-9M3%2C7h2v2h-2v-1M6%2C8h7v1h-7M3%2C10h10v1h-10M3%2C12h10v1h-10z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.rss {
  .no_svg & { background-image: url(/icons/rss.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M3%2C1h3v1h-3v1h-1v7h1v1h2v1h-2v-1h-1v-1h-1v-7h1v-1h1M10%2C1h3v1h1v1h1v7h-1v1h-1v1h-2v-1h2v-1h1v-7h-1v-1h-3M4%2C3h1v1h-1v5h1v1h-1v-1h-1v-5h1M11%2C3h1v1h1v5h-1v1h-1v-1h1v-5h-1M6%2C5h4v1h1v1h-1v1h-1v5h2v1h-6v-1h2v-5h-1v-1h-1v-1h1z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.photos {
  .no_svg & { background-image: url(/icons/photos.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M2%2C1h12v2h1v11h-14v-11h1v-1M3%2C2v1h10v-1h-9M2%2C4v9h12v-9h-11M3%2C5h1v1h1v1h-1v1h1v1h-1v1h1v1h-1v1h-1v-6M8%2C5h1v1h3v1h1v5h-7v-5h1v-1h1M8%2C7h-1v4h3v-3h1v3h1v-4h-3M8%2C8h1v2h-1v-1z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.twitter {
  .no_svg & { background-image: url(/icons/twitter.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M9%2C1h3v1h1v1h2v1h-1v1h-1v3h-1v3h-1v1h-1v1h-2v1h-5v-1h-1v-1h-1v-1h3v-1h-1v-2h-1v-2h-1v-4h4v1h1v1h1v1h1v-3h1M10%2C2h-1v5h-1v-1h-1v-1h-1v-1h-1v-1h-3v2h2v1h-1v1h2v1h-1v1h3v1h-2v1h-1v1h-1v1h5v-1h2v-1h1v-3h1v-3h1v-1h-1v-2h-1M10%2C3h1v2h-1v-1z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.github {
  .no_svg & { background-image: url(/icons/github.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M3%2C1h1v1h1v1h6v-1h1v-1h1v3h1v1h1v7h-1v1h-1v1h-10v-1h-1v-1h-1v-7h1v-1h1v-2M4%2C6v1h-1v5h1v1h2v-1h4v1h2v-1h1v-5h-1v-1h-3v1h-2v-1h-2M4%2C8h1v3h-1v-2M11%2C8h1v3h-1v-2M7%2C10h2v1h-2z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.npm {
  .no_svg & { background-image: url(/icons/npm.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M1%2C1h14v13h-14v-12M3%2C3v9h4v-6h3v6h3v-9h-9z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.mail {
  .no_svg & { background-image: url(/icons/mail.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M1%2C2h14v12h-14v-11M2%2C3v2h1v1h1v1h1v1h1v1h4v-1h1v-1h1v-1h1v-1h1v-2h-11M2%2C6v5h1v-1h1v-1h1v-1h-1v-1h-1v-1M14%2C6h-1v1h-1v1h-1v1h1v1h1v1h1v-4M5%2C10h-1v1h-1v1h-1v1h12v-1h-1v-1h-1v-1h-1v-1h-1v1h-4v-1h-1z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

.icon.brainshave {
  .no_svg & { background-image: url(/icons/brainshave.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%3E%3Cpath%20d%3D%22M4%2C1h8v1h1v2h1v6h-1v3h-4v1h-1v-2h4v-1h-3v-1h-1v-1h1v1h3v-1h1v-4h-4v1h-1v2h-1v-1h-1v3h-1v4h-1v-3h-1v-1h-1v-6h1v-2h1M5%2C2h-1v2h4v-1h1v1h3v-2h-1v1h-1v-1h-4v1h-1M10%2C6h1v2h-1v-1z%22%20fill%3D%22black%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E);
}

