.icon.head {
  .no_svg & { background-image: url(/icons/head.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%201h8v1h1v1h1v1h-1V3h-1V2H4v1H3v1H2V3h1V2h1V1m1%202h6v1h1v6h-1v1h-1v1H9v2H7v-2H6v-1H5v-1H4V4h1V3m1%201H5v6h1v1h4v-1h1V4H6M2%205h1v5H2V9H1V6h1V5m4%200h4v4H9V6H7v3H6V5m7%200h1v1h1v3h-1v1h-1z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.bug {
  .no_svg & { background-image: url(/icons/bug.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6%201h1v1h2V1h1v1H9v2h2v1h1V4h3v1h-3v2h2v1h1v2h-1V8h-2v1h-1v1h1v4h-1v-4h-1v1H6v-1H5v4H4v-4h1V9H4V8H2V7H1V5h1v2h2V5H3V2h1v3h1V4h2V2H6V1m0%204H5v4h1v1h4V9h1V5z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.archive {
  .no_svg & { background-image: url(/icons/archive.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%201h10v2h1v2h1v9h-1V6H2v8H1V5h1V3h1V1m1%201v1h8V2H4M3%204v1h10V4H3m0%203h2v2H3V7m3%201h7v1H6V8m-3%202h10v1H3v-1m0%202h10v1H3z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.rss {
  .no_svg & { background-image: url(/icons/rss.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%201h3v1H3v1H2v7h1v1h2v1H3v-1H2v-1H1V3h1V2h1V1m7%200h3v1h1v1h1v7h-1v1h-1v1h-2v-1h2v-1h1V3h-1V2h-3V1M4%203h1v1H4v5h1v1H4V9H3V4h1V3m7%200h1v1h1v5h-1v1h-1V9h1V4h-1V3M6%205h4v1h1v1h-1v1H9v5h2v1H5v-1h2V8H6V7H5V6h1z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.photos {
  .no_svg & { background-image: url(/icons/photos.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M2%201h12v2h1v11H1V3h1V1m1%201v1h10V2H3M2%204v9h12V4H2m1%201h1v1h1v1H4v1h1v1H4v1h1v1H4v1H3V5m5%200h1v1h3v1h1v5H6V7h1V6h1V5m0%202H7v4h3V8h1v3h1V7H8m0%201h1v2H8z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.twitter {
  .no_svg & { background-image: url(/icons/twitter.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M9%201h3v1h1v1h2v1h-1v1h-1v3h-1v3h-1v1h-1v1H8v1H3v-1H2v-1H1v-1h3v-1H3V8H2V6H1V2h4v1h1v1h1v1h1V2h1V1m1%201H9v5H8V6H7V5H6V4H5V3H2v2h2v1H3v1h2v1H4v1h3v1H5v1H4v1H3v1h5v-1h2v-1h1V8h1V5h1V4h-1V2h-2m0%201h1v2h-1z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.github {
  .no_svg & { background-image: url(/icons/github.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M3%201h1v1h1v1h6V2h1V1h1v3h1v1h1v7h-1v1h-1v1H3v-1H2v-1H1V5h1V4h1V1m1%205v1H3v5h1v1h2v-1h4v1h2v-1h1V7h-1V6H9v1H7V6H4m0%202h1v3H4V8m7%200h1v3h-1V8m-4%202h2v1H7z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.npm {
  .no_svg & { background-image: url(/icons/npm.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%201h14v13H1V1m2%202v9h4V6h3v6h3V3z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.mail {
  .no_svg & { background-image: url(/icons/mail.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M1%202h14v12H1V2m1%201v2h1v1h1v1h1v1h1v1h4V8h1V7h1V6h1V5h1V3H2m0%203v5h1v-1h1V9h1V8H4V7H3V6H2m12%200h-1v1h-1v1h-1v1h1v1h1v1h1V6m-9%204H4v1H3v1H2v1h12v-1h-1v-1h-1v-1h-1V9h-1v1H6V9H5z%22%2F%3E%3C%2Fsvg%3E);
}

.icon.brainshave {
  .no_svg & { background-image: url(/icons/brainshave.gif); }
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2215%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4%201h8v1h1v2h1v6h-1v3H9v1H8v-2h4v-1H9v-1H8V9h1v1h3V9h1V5H9v1H8v2H7V7H6v3H5v4H4v-3H3v-1H2V4h1V2h1V1m1%201H4v2h4V3h1v1h3V2h-1v1h-1V2H6v1H5V2m5%204h1v2h-1z%22%2F%3E%3C%2Fsvg%3E);
}

