.icon {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
  text-decoration: none;

  &.right {
    padding-left: 0;
    padding-right: 20px;
    background-position: right center;
  }
}


.icon_size (@n) {
  @w: (@n * 16px);
  @h: (@n * 15px);

  .x@{n} .icon, .icon.x@{n} {
    background-size: @w @h;
    padding-left: (@w + 4px);
    min-height: @h;

    &.right {
      padding-left: 0;
      padding-right: (@w + 4px);
    }

    .ie78 & {
      min-height: none;
      padding-left: 20px;
    }
  }
}

.icon_size(2);
