@import "defs";

#sections {
  line-height: 1.5em;

  > .wrapper {
    margin: 0 -@margin;
  }

  section {
    padding: 0 @margin;
    float: left;

    -moz-box-sizing: border-box;
    box-sizing:      border-box;

    width: 100%;
    @media (min-width: 700px) { width: 50%; }

    .meta {
      margin-bottom: @margin;
    }
  }

  .ie78 & {
    section {
      float: none;
      width: auto;
    }
  }

  .flat, .flat li {
    list-style: none;
    margin:     0;
    padding:    0;

    a.icon {
      padding-left: 22px;
    }
  }

  footer {
    margin-top: 1em;
    padding-left: 0;
    padding-right: 0;

    @media (min-width: 700px) {
      text-align: center;
    }
  }
}
