@import "defs";

#sections {
  line-height: 1.5em;

  section {
    position: relative;
    -moz-box-sizing: border-box;
    box-sizing:      border-box;

    .meta {
      margin-bottom: @margin;
    }
  }

  .flat, .flat li {
    list-style: none;
    margin:     0;
    padding:    0;

    &:before {
      display: none;
    }

    a.icon {
      padding-left: 22px;
    }
  }

  footer {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: 500px) {
    section {
      margin-top: 2.2em;
      padding-left: 6em;

      h1 {
        position: absolute;
        left: 0;
        top: -0.22em;
        margin-top: 0;
      }
    }
  }
}
