a#logo
  font-size 0
  display block
  position relative
  width 128px
  height 32px
  > div
    position absolute
  > div.block
    width 16px
    height 16px
  > div.tail
    width 0
    height 8px
  > div.col
    width 16px
    height 32px
  > div.mid
    width 1px
    height 8px
    bottom 0
  > div.down
    bottom 0

  > div.s.right
    left 16px
  > div.s.left
    right @width - 16px

  > div.z.left
    right @width - 16px * 4
  > div.z.right
    left 16px * 4

  > div.w.col.left
    left 16px * 6
  > div.w.col.right
    right @width - 16px * 8
  > div.w.mid.left
    right @width - 16px * 7
  > div.w.mid.right
    left 16px * 7

a#logo:hover
  > div.block
    height 20px
  > div.tail
    width 16px

  > div.s.block.left
    border-radius 50% 0 0 50%
  > div.s.block.right
    border-radius 0 50% 50% 0
  > div.s.tail.up
    border-radius 0 8px 0 0
  > div.s.tail.down
    border-radius 0 0 0 8px

  > div.z.block.up
    border-radius 0 0 100% 0
  > div.z.block.down
    border-radius 100% 0 0 0
  > div.z.tail.up
    border-radius 0 0 0 8px
  > div.z.tail.down
    border-radius 0 8px 0 0

  > div.w
    width 8px
  > div.w.mid
    width 10px
  > div.w.mid.left
    border-radius 0 0 8px 0
  > div.w.mid.right
    border-radius 0 0 0 8px
