@import 'nib'

mix(color_a, color_b, amount_a)
  amount_b = 1 - amount_a
  rgba(amount_a * red(color_a) + amount_b * red(color_b),
       amount_a * green(color_a) + amount_b * green(color_b),
       amount_a * blue(color_a) + amount_b * blue(color_b),
       amount_a * alpha(color_a) + amount_b * alpha(color_b))

transp(color)
  rgba(red(color), green(color), blue(color), 0)

// geometry

html
  overflow-y scroll

body
  transition color 0.5s, max-width 0.5s, background-color 0.5s

body.no-anim, body.no-anim > *
  transition none

a:focus
  outline 0 // disable ugly firefox dotted outlines

// transitions

std_transforms = border-radius 0.3s, width 0.3s, height 0.3s,
                 color 0.5s, background-position 0.5s,
                 background-color 1s, border-color 1s,
                 box-shadow 1.5s, text-shadow 1.5s

a,
a#logo > div,
a#change-theme
  transition std_transforms

// themes

theme(front, back, anchor, hover, shadow)
  color front
  background back

  a, a:visited
    color anchor
  a:hover, a:active
    color hover
    text-shadow 0 0 1em shadow

  footer, .small
    color mix(front, back, 0.5)
    a
      color mix(anchor, back, 0.6)
    a:hover, a:active
      color mix(hover, back, 0.7)
      text-shadow none

  a#logo > div
    background front

  a#logo:hover > div,
  a#logo:active > div
    background hover

  a#change-theme
    border 1px solid front
    background-color front
    if dark(back)
      background-position -30px -30px

  a#change-theme:hover,
  a#change-theme:active
    border-radius 10px
    border-color hover
    background-color hover

dark_back = #333338
light_back = #fff

body.dark
  theme(#fffff5, dark_back, #9ee, #0ff, #fff)

body.light
  theme(#000, light_back, #088, #0cc, #0ff)

// theme switcher

a#change-theme
  display block
  overflow hidden
  float right
  width 30px
  height 30px

  background linear-gradient(top left,
                             light_back 0%, light_back 24%,
                             transp(light_back) 26%, transp(dark_back) 74%,
                             dark_back 76%, dark_back 100%)
  background-size 60px 60px
