@import 'nib'

@keyframes opacitate
  from
    opacity 0
  to
    opacity 1

div#photos
  clear both
  transition color 0.5s, background-color 0.5s

  > div#thumbs, > h1
    max-width 1500px
    margin auto
    padding 0 16px

  > div#thumbs
    overflow hidden
    transition max-width 0.5s
    height 83px
    > a
      display block
      float left
      > img
        transition opacity 0.3s
        opacity 0.7
        display block
        border none
        margin  4px 4px 4px 0
    > a:hover, > a.active
      > img
        opacity 1
  > div#thumbs:hover
    > a.active > img
      opacity 0.7
    > a.active:hover > img
      opacity 1

  > div#viewer
    padding-bottom 4px
    opacity 0.1
    transition opacity 0.5s
    max-width 100%
    > div.preview
      animation-duration 1s
      animation-name opacitate
      background inherit
      > img
        display    block
        margin     auto
        max-width  100%
        max-height 100%

div#photos.active
  > div#thumbs
    max-width 100%
  > div#viewer
    opacity 1
