@import 'nib'

@keyframes opacitate
  from
    opacity 0
  to
    opacity 1

div#photos
  clear both
  padding-top 2em
  transition color 0.5s, background-color 0.5s

  > div#thumbs, > div#header
    max-width 1500px
    margin auto
    padding 8px 16px

  > div#header
    padding-top 8px
    > *
      display inline-block

div#viewer
  opacity 0.1
  transition opacity 0.5s
  width 100%
  > div.preview
    animation-duration 1s
    animation-name opacitate
    background-repeat no-repeat
    background-position center top
    margin 16px 0
    > img
      display    block
      margin     auto

.black div#viewer
  opacity 1
