@import 'nib'

@keyframes opacitate
  from
    opacity 0
  to
    opacity 1

div#photos
  transition color 0.5s, background-color 0.5s, height 0.5s
  clear both
  padding 0 16px

  > *
    transition max-width 0.5s
    max-width 1500px
    margin auto

  > div#thumbs
    > a > img
      margin 4px
  > div#viewer
    > div.preview
      animation-duration 1s
      animation-name opacitate
      background inherit
      > img
        display   block
        margin    auto
        max-height 400px

div#photos.active
  height 600px
  > *
    max-width 100%
