.trans(@value) {
  transform: @value;
  -webkit-transform: @value;
}

.trans_orig(@value) {
  transform-origin: @value;
  -o-transform-origin: @value;
  -ms-transform-origin: @value;
  -moz-transform-origin: @value;
  -webkit-transform-origin: @value;
}

.szow {
  section {
    font-size: 5vh;
    line-height: 6vh;
    position: relative;
    height: 100vh;
    border-bottom: 1px solid #999;

    ul, li {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-left: 0;
      list-style: none;
    }

    li {
      margin-bottom: 0.4em;
    }

    pre {
      .capturing { color: #085; }
      .captured { color: white; background: #085; }
      .diagonal_line, .vertical_line, .to_diagonal_line, .horizontal_line {
        display: inline-block;
      }
      .diagonal_line {
        .trans(rotate(-45deg) scaleX(4));
      }
      .vertical_line {
        .trans(rotate(90deg) scaleX(3));
      }
      .horizontal_line {
        .trans(scaleX(1.4));
      }
      .to_diagonal_line {
        .trans_orig(0 100%);
        .trans(rotate(-30deg) scaleX(2.8));
      }
    }

    .wrap {
      position: absolute;
      max-width: 120vh;
      min-width: 80vh;
      top: 50%;
      left: 50%;
      .trans(translateY(-50%) translateX(-50%));
    }

    h1 {
      font-size: 1.3em;
    }

    .parenthesis {
      color: #999;
    }

    .or_list li {
      position: relative;
      &:before {
        content: "or";
        color: #BBB;
        position: absolute;
        .trans(translateX(-130%))
      }
      &:first-child:before {
        display: none;
      }
    }

    p.math {
      font-style: normal;
      line-height: 2em;
    }
  }
}