.b (@anchor, @hover, @shadow_text) {
  &, &:visited { color: @anchor; }

  &:hover, &:active {
    color: @hover;
    text-shadow: @shadow_text;
  }
}

.a (@anchor, @hover, @shadow_text) {
  a { .b(@anchor, @hover, @shadow_text); }
}

.theme(@back, @front, @anchor, @hover, @shadow) {
  color: @front;
  background: @back;

  @a_shadow: 0 0 1em @shadow;

  .a(@anchor, @hover, @a_shadow);

  a.icon {
    .b(@front, @hover, @a_shadow);
  }

  h1 {
    .a(@front, mix(@front, @hover), 0 0 0.5em mix(@front, @shadow, 0.7));
  }

  footer, .small, .parenthesis, .date {
    color: mix(@front, @back, 50%);
    .a(mix(@anchor, @back, 60%), mix(@hover, @back, 70%), none);
  }

  blockquote:before {
    color: mix(@front, @back, 10%);
  }

  #top { .a(@front, @hover, none); }

  #logo {
    & > div {
      background: @front;
    }
    &:hover > div,
    &:active > div {
      background: @hover;
    }
  }

  .key {
    color: mix(@back, @front, 30%);
    background: mix(@back, @front, 90%);
  }

}

.dark {
  .theme(#333338, #fffff5, #9ee, #0ff, #fff);
}

.black {
  .theme(#000, #aaa, #9aa, #0ff, #fff);
}

.light {
  .theme(#fff, #000, #088, #0cc, #0ff);

  font-weight: 400;

  b, h3, h4, thead {
    font-weight: 600;
  }
}

.red {
  .theme(#422, #fda, #ffa, #fff, #ff0);
}
