@import 'nib'

#top
  overflow   auto
  margin     0 auto
  transition max-width 0.5s

  @media print
    display none

  > .meta
    margin-top  12px
    font-size   14px
    line-height 32px

    > a
      width       16px
      margin-left 12px
      display     block
      float       left
      text-align  center
    > a:first-child
      margin-left 0

@media (min-width: 350px)
  #logo
    float left
  #top > .meta
    float      right
    font-size  16px
    margin-top 0

    > a
      width 32px
      margin-left 0

@media (min-width: 500px)
  #top > .meta
    font-size 20px

    > a
      margin-left 16px
