@import "defs";

#top {
  position: relative;
  line-height: 30px;

  .icon {
    display: block;
  }

  @media (min-width: 304px) {
    font-size: 0;
    height: 30px;

    .group {
      position: absolute;
      top: 0;
    }

    .left {
      left: 16px;
      right: 50%;
    }

    .right {
      right: 16px;
      left: 50%;
      text-align: right;

      .icon {
        background-position: right center;
      }
    }

    .icon {
      padding: 0;
      display: inline-block;
      width: 48px;
      height: 30px;
    }

    .left .icon:last-child,
    .right .icon:first-child {
      width: 40px;
    }
  }
}
