@import "defs";

#top {
  position: relative;
  line-height: 32px;

  .group {
    display: inline;

    a {
      display: block;
    }
  }

  @media (min-width: 260px) {
    font-size: 0;

    .group {
      a {
        width: (100/6%);
        padding: 0;
        margin: 0;
        display:  inline-block;
      }
    }

    .group.right a {
      background-position: right center;
    }

  }

  @media (min-width: 600px) {
    .group a {
      width: 48px;
    }
    .group.right {
      position: absolute;
      top: 0;
      right: 16px;
    }
  }
}
